<mat-toolbar class="d-none d-lg-block" color="primary">
  <div class="container">
    <div class="row menu-row">
      <div class="col-1">
        <button mat-icon-button (click)="ScrollRight()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="col-10">
        <div #scrollMenu class="scrollmenu">
          <a *ngFor="let category of categories">{{category.name | uppercase}}</a>
        </div>
      </div>
      <div class="col-1">
        <button mat-icon-button (click)="scrollLeft()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>


</mat-toolbar>
