<mat-toolbar class="d-none d-lg-block" color="primary">
  <div class="container">
    <div class="row menu-row">
      <div class="col-1">
        <button mat-icon-button (click)="ScrollRight()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="col-10">
        <div #scrollMenu class="scrollmenu">
          <a href="#home">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
          <a href="#support">Support</a>
          <a href="#blog">Blog</a>
          <a href="#tools">Tools</a>
          <a href="#base">Base</a>
          <a href="#custom">Custom</a>
          <a href="#more">More</a>
          <a href="#logo">Logo</a>
          <a href="#friends">Friends</a>
          <a href="#partners">Partners</a>
          <a href="#people">People</a>
          <a href="#work">Work</a>
          <a href="#home">Home</a>
          <a href="#news">News</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
          <a href="#support">Support</a>
          <a href="#blog">Blog</a>
          <a href="#tools">Tools</a>
          <a href="#base">Base</a>
          <a href="#custom">Custom</a>
          <a href="#more">More</a>
          <a href="#logo">Logo</a>
          <a href="#friends">Friends</a>
          <a href="#partners">Partners</a>
          <a href="#people">People</a>
          <a href="#work">Work</a>
        </div>
      </div>
      <div class="col-1">
        <button mat-icon-button (click)="scrollLeft()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>


</mat-toolbar>
