<div class="container article-container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1>Title</h1>
        </div>
      </div>
      <div class="row article-info-row">
        <div class="col-lg-2 col-md-3 col-6">
          <app-user-profile></app-user-profile>
        </div>
        <div class="col-lg-1 col-md-2 col-5 article-container__views">
          <app-views-count></app-views-count>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="https://images.unsplash.com/photo-1605020073023-5cd688498a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto aut beatae dolore eius ex excepturi in nisi omnis porro qui quo quos repudiandae sapiente, sed soluta voluptatum! Suscipit, tenetur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum laborum magnam molestias, sapiente sit vel. Architecto asperiores aspernatur, consectetur debitis dolore eligendi enim ex, facere officia sequi, sint ullam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum laborum magnam molestias, sapiente sit vel. Architecto asperiores aspernatur, consectetur debitis dolore eligendi enim ex, facere officia sequi, sint ullam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum laborum magnam molestias, sapiente sit vel. Architecto asperiores aspernatur, consectetur debitis dolore eligendi enim ex, facere officia sequi, sint ullam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum laborum magnam molestias, sapiente sit vel. Architecto asperiores aspernatur, consectetur debitis dolore eligendi enim ex, facere officia sequi, sint ullam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
