<div class="progress-container" *ngIf="isArticlePage">
  <div class="progress-bar" id="scrollBar"></div>
</div>
<mat-toolbar color="primary" class="header">
  <div class="container">
    <div class="row header__menu">
      <div class="col-1">
        <button class="d-none d-lg-block" mat-icon-button (click)="navigateHome()">TDS</button>
        <button mat-icon-button class="d-lg-none menu-btn" (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="col-lg-3 col-md-4 col-7">
          <label>
            <input class="search" type="text" placeholder="Search">
          </label>
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
      </div>
    </div>
  </div>
</mat-toolbar>

