.header {
  &__menu {
    justify-content: space-between;
  }
}
.spacer {
  flex: 1 1 auto;
}

.search {
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 8px;
  width: 100%;
}


mat-toolbar {
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.73);
  height: 70px;
  position:relative;
  z-index:2;
}

.progress-container {
  position: fixed;
  top: 0;
  z-index: 100;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #2292eb;
  overflow: hidden;
}

.progress-bar {
  background: rgb(135, 241, 95);
  width: 0;
  transition-timing-function: ease-out;
  transition: width .5s;
  height: 100vh;
}
