.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.mat-sidenav {
  width: 50vw;
  background-color: #2292eb;
}
.mat-selection-list {
  margin-top: 3rem;
}
.mat-list-option {
  color: white;
}
.mat-list-single-selected-option {
  border-left: solid white;
}
