<div class="container home">
  <div class="row">
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
    <div class="col-3 card-col">
      <app-card></app-card>
    </div>
  </div>
  <div class="row  justify-content-md-center pagination">
    <div class="col-2">
      <app-pagination> </app-pagination>
    </div>
  </div>
</div>
